{% extends 'base.html.twig' %}

{% block title %}TodoList index{% endblock %}

{% block body %}
    <h1>TodoList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Tasks</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todoList in todoLists %}
            <tr>
                <td>{{ todoList.id }}</td>
                <td>{{ todoList.name }}</td>
                <td>{{ todoList.countTasks }}</td>
                <td>
                    <a href="{{ path('app_todo_list_show', {'id': todoList.id}) }}">show</a>

                    {{ include('todo_list/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_todo_list_new') }}">Create new</a>
{% endblock %}
